
<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.quantity %></td>
        <td><%= link_to 'Edit', edit_list1_url(list) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', '/index1' %>
