<p id="notice"><%= notice %></p>
<ul><li><%= link_to 'Back', '/notification' %></li>
  <li><%= link_to 'Download', download_url(@business) %></li>
<li style="float: right;"><%= link_to 'Take action', edit_status_url(@business) %></li>
</ul>
<p>
  <strong>Customer:</strong>
  <%= @business.customer_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Distance:</strong>
  <% shop=Shop.where(id:@business.shop_id) %>
  <% shop.each do |s|%>
  <% d=s.distance_from([@business.latitude,@business.longitude],:km)%>
  <%=d %> km
  <% end %>

</p>


<p>
  <strong>Status:</strong>
  <%= @business.status %>
</p>



  <p>
    <strong>Prescription:</strong>
  <% if @business.image.attached? %>
    <%= image_tag(@business.image, style:'width:50%') %>
    <%= @op %>
    <% end%>

  </p>
