<p id="notice"><%= notice %></p>
<li style="float: right;"><%= link_to 'Back', businesses_path %></li>
       
  <strong>Customer:</strong>
  <%= @business.customer_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>


<p>
  <strong>Status:</strong>
  <%= @business.status %>
</p>

<p>
  <strong>shopid:</strong>
  <%= @business.shop_id %>
</p>


  <p>
    <strong>Prescription:</strong>
  <% if @business.image.attached? %>
    <%= image_tag(@business.image, style:'width:50%') %>
    <% end%>

  </p>
