<center><h1>Welcome#index</h1></center>
    <ul>
      <li><%= link_to "Home", '/' %></li>
    
      <li style="float:right;"><%= link_to "Admin", '/admin' %></li>
      <li style="float:right;"><%= link_to "Medical Shop", '/shop' %></li>
      <li style="float:right;"><%= link_to "Customer", '/customer' %></li>

    </ul>
    <br><br>
    <%= @c %>